/* src/assets/main.css */
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100% !important; /* Принудительно убираем ограничения */
  display: block; /* Убираем grid/flex центрирование по умолчанию */
}
